<div class="hint container">
    <p>
        Деревовидне меню - це модуль продвинутого меню, що дозволяє створювати багаторівневі навігаційні структури з необмеженим рівнем вкладеності.
    </p>
</div>

<div class="page-wrapper">

    <div class="page-container m-r-30">
        <div class="module-title">
            Створити / оновити пункт меню 
        </div>
        <div class="page-container-inner container p-30">
            <div class='mode-informer'>
                <p>
                    Режим редагування пункту меню <span class='edit-mode-diable'>[вимкнути]</span><br>
                </p>
            </div>
            <form name="menu" data-performer="mod_advanced_menu" data-key="C"> 
                <h4>Загальная інформація</h4>
                
                <br>
                
                <div class="form-element-wrapper">
                    <input type="text" name="title" id="title" placeholder=" " autocomplete="off">
                    <label for="title">Назва пункту меню</label>
                </div>
                <div class="form-element-wrapper">
                    <input type="text" name="href" id="href" placeholder=" " autocomplete="off">
                    <label for="href">Посилання</label>
                </div>
                <div class="form-element-wrapper">
                    <select name="parent" id="parent">
                        <option selected disabled>Батьківський елемент (немає)</option>
                        <?php get_admin_items_list("mod_advanced_menu","advanced_menu_select_list",$db,$pathes)?>
                    </select>
                </div>
                
                <div class="form-element-wrapper">
                    <input type="hidden" name="id" id="id" >
                </div>
                
                <br>
                
                <div class="align-container">
                    <button class="al-r submit" type="button"><span>Створити пункт меню</span></button>
                    <button class="al-r update" type="button"><span>Зберегти пункт меню</span></button>
                </div>
                
                
            </form>
        </div>
    </div>
    
    <div class="page-container">
        <div class="module-title">
            Пункти меню
        </div>
        <div class="page-container-inner container p-30">
            <h4>Меню</h4>
            <div class="update-informer-wrapper">
                <div class="update-informer-container">
                    <p>Перезавантажте сторінку для оновлення списку</p>
                </div>
            </div>    
            <br>
            <?php get_admin_items_list("mod_advanced_menu","nav_advanced_menu_list",$db,$pathes)?>
            
        </div>
    </div>
    
</div>