<div class="hint container">
    <p>
        Вбудований редактор коду на основі ACE Editor дозволяє вносити зміни та вести розробку безпосередньо засобами RED Forge. Редактор підтримує велику кількість тем, підсвітку синтаксису, плагіни.
    </p>
</div>

<div class="page-wrapper">

    <div class="page-container m-r-30">
        <div class="module-title">
            Редактор коду
        </div>
        
        <div class="page-container-inner container p-30">
            <select name="editor-mode" id="editor-mode">
                <option selected disabled>Режим роботи редактора</option>
                <option value="ace/mode/html">HTML</option>
                <option value="ace/mode/css">CSS</option>
                <option value="ace/mode/php">PHP</option>
                <option value="ace/mode/javascript">Javascript</option>
                <option value="ace/mode/xml">XML</option>
                <option value="ace/mode/json">JSON</option>
            </select><br>
            <div class="form-element-wrapper">
                <input type="text" name="editor-path-input" id="editor-path-input" placeholder=" " autocomplete="off">
                <label for="editor-path-input">Шлях до редагованого файлу</label>
            </div>
            
            <br><br>
            <div id="editor-block"></div>
            <br>
            <div class="align-container">
                <button class="editor-file-update al-r"><span>Оновити файл</span></button>
            </div>
            
        </div>
    </div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>
<script>
    
    var editor = ace.edit("editor-block");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/html");

</script>