
<div class="hint container">
    <p>
        Модуль LivePar дозволяє здійснювати парсинг особистого кабінету сервісу Liveinternet, створюючи API, який дозволяє оперувати будь якими даними з особистого кабінету стороннього сайту в панелі адміністратора Red FORGE.
    </p>
</div>

<div class="page-wrapper big-width-content">

    <div class="page-container m-r-30">
        <div class="module-title">
            Статистика сайту
        </div>
        <div class="page-container-inner container p-30">
            <h4>Вибірка по даті</h4>
            <div class="form-element-wrapper">
                <input type="text" name="date" id="date" placeholder=" " class='required' autocomplete="off" >
                <label for="date">Дата</label>
            </div><br>
            <div class="align-container">
                <button class="al-r get-stats" type="button"><span>Завантажити</span></button>
            </div><br>
            <h4>Таблиця відвідуваності - <span id="visit-table-date">сьогодні</span></h4><br>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Обраний день</th>
                            <th>Минулий день</th>
                            <th>В середньому в обраний день</th>
                            <th>В середньому за 7 днів</th>
                        </tr>
                    </thead>
                    <tbody id='livepar-container'>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="page-container">
        <div class="module-title">
            Графік відвідуваності
        </div>
        <div class="page-container-inner container p-30 limited-height">
            <canvas id='myChart'></canvas>
        </div>
    </div>
    
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'></script>
<script src="<?=$pathes->client_path?>private/template/assets/scripts/livePar.js"></script>
