<!doctype html>
<?=$amenu?>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Головна</title>
        <link href="<?=$pathes->client_path?>template/assets/styles/main.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="wrapper">
            
            <div class="inner">
                
                <h1><span class='selected'>RED</span>Forge</h1>
                
                <br>
                <br>
                <br>
                
                <h2><span class='selected'>R</span>eady. <span class='selected'>E</span>asy. <span class='selected'>D</span>istinctly.</h2>
                
                <div class='paragtaph-container'>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat. 

                    </p>
                    
                    <button>Discover</button>
                    <button class="right-15">Create</button>
                    
                    
                </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <h2><span class='selected'>W</span>hat is this <span class='selected'>p</span>age<span class='selected'>?</span></h2>
                
                <div class='paragtaph-container'>
                    <p>

                        It looks like you just installed the RED Forge system. In this regard, you are on 
                        the start page. To get started with your website, install or create a template, 
                        customize it, log in to the admin panel and start working. Good luck and have fun!

                    </p>
                    
                </div>
                
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <h2><span class='selected'>W</span>hat <span class='selected'>can</span> i create?</h2>
                
                <div class="examples-container">
                    
                    <div class='example' style="background:url(<?=$pathes->client_path?>template/assets/img/16541.jpg); background-size:100%;">
                        
                        <div class="title">
                            
                            E-Commerce
                            
                        </div>
                        
                    </div>
                    
                    <div class='example' style="background:url(<?=$pathes->client_path?>template/assets/img/345.jpg); background-size:100%;">
                        
                        <div class="title">
                            
                            Business
                            
                        </div>
                        
                    </div>
                    
                    <div class='example' style="background:url(<?=$pathes->client_path?>template/assets/img/515263-PIVZ9I-784.jpg); background-size:100%;">
                        
                       <div class="title">
                            
                            Landing
                            
                        </div>
                        
                    </div>
                    
                    <div class='example' style="background:url(<?=$pathes->client_path?>template/assets/img/517887-PIYCO6-38.jpg); background-size:100%;">
                        
                        <div class="title">
                            
                            Blog
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>

    </body>
</html>
